body {
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

#canvainer {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#menu {
    width: 200px;
    height: 250px;
    float: right;
    margin-top: -500px;
    margin-right: 100px;
}

.menu-item {
    float: left;
}
